
.App {
  text-align: center;
  background-color: #EE5A24;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card{
  background-color: white;
  width: 100%;
  height: 100%;
  display:flex;
  margin-bottom: 2em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.image img{
  height: 490px;
  width: 340px;
}

.image{
  padding: 2em;
  display:flex;
  justify-content: center;
  align-items: center;
}

.content{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 2em;
}

.content h1{
  font-size: 50px;
}
.moviegrid{
padding: 2em 3em;
  
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.logo h1{
  font-size: 1.2em;
  letter-spacing: 10px;
  font-weight: 500;
}

.rating{
  font-size: 1.5em;
  font-weight: 700;
}

footer{
  background-color: #EE5A24;
  color:white;
  height: 3em;
  display:flex;
  justify-content: center;
  align-items: center;
}

.main{
  background-color: #f1f2f6;
}

iframe{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.image img:hover {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

.sidebar{
  background-color: #000000;
  color:white;

 font-size: 1.5rem;
 display:flex;
 justify-content: center;
 
}

ul{
  list-style: none;
  display:flex;
  justify-content: center;
}
li{

  transition: 0.2s;
  padding-left: 120px;
}

li:hover{
  cursor: pointer;
}

li::after{
  display:block;
  content: '';
  background-color: #EE5A24;
  width: 0;
  height: 3px;
  margin-top: 10px;
  transition: 0.2s;

}

li:hover:after{
  width: 100px;
 
}

.nav-bar{
display:flex;
justify-content: center;
align-items: center;
align-items: center;
width: 100%;
padding: 0 2em;

}

.logo{
  flex:1;

}

.nav{
  flex: 1;
}

.logo2{
  flex: 1;

}

