
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card{
  background-color: white;
  display:flex;
  margin-bottom: 2em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 2em;
}

.content h1{
  font-size: 50px;
}
.moviegrid{
  padding: 2em 20em;
}

.logo h1{
  font-size: 4em;
  font-weight: 300;
}

.rating{
  font-size: 1.5em;
  font-weight: 700;
}

footer{
  background-color: #ffaf40;
  color:white;
  height: 2em;
  display:flex;
  justify-content: center;
  align-items: center;
}

.main{
  background-color: #f1f2f6;
}